<ul>
    <li class="general">General</li>
    <li class="points">Points</li>
    <li class="rebounds">Rebounds</li>
    <li class="fieldsGoalsMade">Field goals</li>
    <li class="assists">Assists</li>
    <li class="freeThrow">Free Throw</li>
    <li class="threePointsMade">3 pointers</li>
    <li class="blocks">Blocks</li>
</ul>
<div>
	<span class="btn red pull-left">{{name}}</span>
    <form action="/">
        <select name="data[select]" class="cform">
            <option value="dallas-mavericks">Dallas Mavericks</option>
            <option value="indiana-pacers">Indiana Pacers</option>
            <option value="new-york-knicks">New York Knicks</option>
            <option value="charlotte-bobcats">charlotte bobcats</option>
            <option value="memphis-grizzlies">memphis grizzlies</option>
            <option value="minnesota-timberwolves">minnesota timberwolves</option>
            <option value="toronto-raptors">toronto raptors</option>
            <option value="washington-wizards">washington wizards</option>
            <option value="boston-celtics">boston celtics</option>
            <option value="atlanta-hawks">atlanta hawks</option>
            <option value="los-angeles-clippers">los angeles clippers</option>
            <option value="miami-heat">miami heat</option>
            <option value="sacramento-kings">sacramento kings</option>
            <option value="orlando-magic">orlando magic</option>
            <option value="new-orleans-hornets">new orleans hornets</option>
            <option value="cleveland-cavaliers">cleveland cavaliers</option>
            <option value="denver-nuggets">denver nuggets</option>
            <option value="chicago-bulls">chicago bulls</option>
            <option value="golden-state-warriors">golden state warriors</option>
            <option value="detroit-pistons">detroit pistons</option>
            <option value="houston-rockets">houston rockets</option>
            <option value="los-angeles-lakers">los angeles lakers</option>
            <option value="brooklyn-nets">brooklyn nets</option>
            <option value="milwaukee-bucks">milwaukee bucks</option>
            <option value="philadelphia-76ers">philadelphia 76ers</option>
            <option value="phoenix-suns">phoenix suns</option>
            <option value="portland-blazers">portland blazers</option>
            <option value="oklahoma-thunder">oklahoma thunder</option>
            <option value="san-antonio-spurs">san antonio spurs</option>
            <option value="utah-jazz">utah jazz</option>
        </select>
    </form>    
</div>
<div id="graphcompareteam">

</div>
<div id="valuehover">
    <p></p>
</div>