<div id="graph">
    <ul class="legend">
        <li class="points"><span></span> Points</li>
        <li class="rebounds"><span></span> Rebounds</li>
        <li class="fieldsGoalsMade"><span></span> Field goals</li>
        <li class="assists"><span></span> Assists</li>
        <li class="freeThrow"><span></span> Free Throw</li>
        <li class="threePointsMade"><span></span> 3 pointers</li>
        <li class="blocks"><span></span> Blocks</li>
        <li class="all"><span></span> All</li>
    </ul>
    <div class="yearsinfos">
        <h4>Informations <span>1970-1971</span> </h4>
        <ul>
            <li class="points">
                <p>Points <span></span> </p>
                <ul >
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                </ul>
            </li>
            <li class="rebounds">
                <p>Rebounds <span></span> </p>
                <ul>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                </ul>
            </li>
            <li class="fieldgoals">
                <p>Field goals <span></span> </p>
                <ul>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                </ul>
            </li>
            <li class="assists">
                <p>Assists <span></span> </p>
                <ul>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                </ul>
            </li>
            <li class="freeThrow">
                <p>Free Throw <span></span> </p>
                <ul>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                </ul>
            </li>
            <li class="threepointers">
                <p>3 pointers <span></span> </p>
                <ul>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                </ul>
            </li>
            <li class="blocks">
                <p>Blocks <span></span> </p>
                <ul>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                    <li class="circlestat"></li>
                </ul>
            </li>
        </ul>
    </div>
</div>